#ball {
  width: 100px;
  height: 100px;
  background-color: blue;
  /*border-radius: 100%;*/
  position: absolute;
}

.obstaculo {
  width: 100px;
  height: 100px;
  background-color: #999;
  /*border-radius: 100%;*/
  position: absolute;
}

.obstaculo1 {
    top: 100px;
    left: 70px;
}

.obstaculo2 {
    top: 100px;
    left: 70px;
}

.obstaculo3 {
    top: 100px;
    left: 70px;
}

.obstaculo4 {
    top: 100px;
    left: 70px;
}

.obstaculo5 {
    top: 100px;
    left: 70px;
}

.obstaculo6 {
    top: 100px;
    left: 70px;
}